                <div class="row">
                    <div class="col-lg-8 ms-auto me-auto">
                    <p class="lead"><a href="https://en.wikipedia.org/wiki/Miniature_Schnauzer"><i class="fa-brands fa-wikipedia-w"></i> Miniature schnauser</a> love and protect their pack. They are reliable guard dogs. The dogs are not aggresive and can coexist with other dogs just fine. Miniature schnausers can live in an appartment, bydlet v bytě, but can get bored. They will happily join you for outdoor activities or sports and have surprisingly high stamina.</p>
                    <p class="lead">They are smart and learn quickly, but be consistent and strict. Schnausers like children, but can express displeasure about treatment. Average weight is about 5 - 7 kg.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 ms-auto me-auto">
                    <p class="lead">Our dog Mája, oficially called Chaluha z Apatyky, is a three year old miniature schnauser female. She is calm and well socialized and has bonded with our three children just fine. She is smart and likes to learn and practice. When paid with treats <i class="fa-regular fa-face-grin"></i>.</p>
                    <p class="lead">Mája comes out of breeding station of a veterinary doctor Mrs. Chvátalová, PhD. "Z Apatyky". Doc Chvátalová helped us to pick a breeding partner, care about the pups and registered them under her breeding station.</p>
                    </div>
                </div>
