                <div class="row">
                    <div class="col-lg-8 ms-auto me-auto">
                    <p class="lead"><a href="https://en.wikipedia.org/wiki/Miniature_Schnauzer"><i class="fa-brands fa-wikipedia-w"></i> Miniature schnauser</a> jsou společenské plemeno, které miluje svoji smečku. Jsou spolehlivým hlídačem a alarmem. Nejsou agresivní a bez problémů se snáší s ostatními plemeny. Kníračům nevadí bydlet v bytě, ale neradi se nudí a pokud jim nedopřejete zábavu, vymyslí si vlastní. Rádi se přidají i ke sportovním aktivitám a vydrží toho překvapivě hodně.</p>
                    <p class="lead">They are smart a rádi se učí nové věci, ale je potřeba být důsledný. K dětem jsou knírači milí, ale umí dát najevo, když se jim něco nelíbí. Průměrná váha je asi 5 - 7 kg.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 ms-auto me-auto">
                    <p class="lead">Our dog Mája, oficially called Chaluha z Apatyky, is a three year old miniature schnauser female. Je klidná a s našimi dětmi se skvěle snáší. Také je chytrá a ráda cvičí povely. Za odměnu <i class="fa-regular fa-face-grin"></i>.</p>
                    <p class="lead">Mája pochází z chovné stanice MVDr. Chvátalové, PhD. "Z Apatyky". Paní doktorka Chvátalová nám proto byla nápomocna s výběrem partnera, péčí o štěňátka a umožnila nám je i zaregistrovat pod hlavičkou své chovné stanice.</p>
                    </div>
                </div>
